 
body {
	background: url('http://localhost/GameOverseer/picture/all.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

a:link, a:visited {
	color:green;
}

.form-control{

    width:100px;
}
.input-xlarge{
	width: 240px;

}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.form-horizontal{
	margin-right:10px;

}

.sakto{
	width:60px;
	height:60px;

}

.input-xlarge{

height:50px;

} 
 


.isbug{

margin-left:  36px;

}

.block {
	background-color:rgba(0,0,0,0.2);
    height:370px;
  	padding-left:12px;
  	padding-right:12px;
}

.block-sm {
    height:180px;
}

.btn-flat {
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
	border-radius:0px;
  	border-width:0;
  	background-image:none;
  	padding:16px;
  	margin:0 auto;
  	margin-top:15px;
  	width:70%;
    font-size:20pt;
}

/* mini carousel */
.carousel-inner img {
	width:100%;
  	height:100%;
}

#myCarousel {
	font-size:90%;
}

.carousel-controls-mini {
	margin-left:42%;
}

.carousel-controls-mini > a {
	border:1px solid #eee;
  	margin:1px;
  	width:20px;
    display:block;
  	float:left;
    text-align:center;
}

#carousel-bounding-box {
  margin:0 auto;
  width:300px;
}




 <!-- For fullscreen background-->
  
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;j
    background-position: 50% 50%;
    background-image: url('http://localhost/GameOverseer/picture/all.jpg');
    background-repeat:repeat;
  }
    
 
 
	
	<!-- css for loginbar -->
    .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
  }
  .btn:focus
  {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }
   
  
  	.bs-login{
	     float: none;
		 display: table; 
		 margin: 300px; 
	     margin-left: 450px;
		 width: 400px;
		 height: 400px;
	}

	
	.form-actions{
			height: 90px;
			width:  90px; 
	}
	
	
	
  .form-login {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top:50px;
  }
  .form-login .form-login-heading, .form-login {
    margin-bottom: 10px;
  }

  .form-login .form-control:focus {
    z-index: 2;
  }
  .form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,1,2,0.08);
  }
  .form-login-heading { 
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,2,2,0.5);
}
    
	<!-- css for register -->

	  	.bs-register{
	     float: none;
		 display: table; 
		 margin: 300px; 
	     margin-left: 450px;
		 width: 400px;
		 height: 400px;
	}
	
  .form-register {
   max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top:50px;
  }
  .form-register .form-register-heading, .form-register {
    margin-bottom: 10px;
  }
  
 
  .form-register  .form-control:focus {
    z-index: 2;
  }
  .form-register input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,1,2,0.08);
  }
  .form-register-heading { 
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,2,2,0.5);
    
     }
	 
	 
        .registernabox {
            background-color: #9a7c8c;
			background: rgba(150, 154, 154, 0.8);
            border: 11px solid #620c0c;
            padding: 45px 15px 15px;
            position: relative; 
			top:50px;
			right:39%;
		    left:5%;  
			margin  :65px; 
			float:none;
        }
        label.error {
            color: #630707;
            font-size: 14px;
            font-weight: normal;
            position: absolute;
        }
    	label.success {
			width: 34px;
			height: 34px;
			background: url('http://localhost/GameOverseer/picture/valid.png') center center no-repeat;
            color: #ffffff;
            font-size: 0px;
            font-weight: normal;
            position: absolute;
        }
   
 